html {
    box-sizing: border-box;
    font-size: 14px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
    /* adjust the gradient and transition effect */
.calc{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: linear-gradient(45deg, #d9e432, #26c897, #d33ab2);
    background-size: 300% 300%;
    animation: pulse 5s ease infinite;
}
@keyframes pulse {
    0%, 100% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}

.calculator-gif {
    width: 45px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-left: 10px; /* Adjust margin as needed */
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.center {
    display: flex;
    justify-content: center;
    text-align: center;
    place-items: center;
}

body {
    background-color: #99f6f6;
}

.container {
    max-width: 1000px;
    width: 30%;
    margin: 1rem auto;
    padding: 0.5rem;
    border: 0.4rem solid rgba(7, 7, 7, 0.907);
    
}

.header {
    font-size: 3rem;
}

.result {
    color: #060606;
    background-color: rgba(248, 245, 245, 0.877);
    font-size: 2.5rem;
    text-align: right;
    padding: 1rem 1.8rem;
    border-radius: 0.9rem;
    width: 100%;
}

.operator {
    background-color: #710133;
    color: rgb(231, 220, 223);
    font-size: 3rem;
    border-radius: 0.6rem;
    padding: 0.5rem;
    width: 17%;
    text-align: center;
    margin: 0.4rem 0;
   
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.num-container {
    width: 73%;
}

.num,
.clear {
    background-color: #bc6bce;
    color: rgb(12, 12, 12);
    font-size: 3rem;
    border-radius: 0.7rem;
    padding: 1.5rem;
    width:27%;
    height:10vh;
    text-align: center;
    margin: 0.8rem 0;
}
.div{
  width:20%;
}
.clear {
    background-color: #d62a0c;
    color: rgb(14, 15, 15);
}

.equal {
    background-color: #01801f;
    color: rgb(11, 11, 11);
    font-size: 3rem;
    border-radius: 0.6rem;
    padding:2rem 0rem;
    width:22%;
    height:24vh ;
    margin-left: 1rem;
    cursor: pointer;
}

footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 760px) {  
    .container {
        width: 90%;
    }
}

/* Modified code */
.num-1{
    width: 20%;
    height: 10vh;
}

.backspace{
    background-color: #d62a0c;
}

.card {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
  }
  
  /* for all social containers*/
  .socialContainer {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
  }
  /* twitter*/
  .containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
  }
  /* linkdin*/
  .containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
  }
  /* Whatsapp*/
  .containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }
  
  .socialSvg {
    width: 17px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  /* Theme selector from index.html */
  
  #theme-selector {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
  }


  .num[theme="default"] {
    background-color: #bc6bce;
    color: rgb(231, 220, 223);
  }

  .num[theme="minimal"] {
    background-color: #f8f8f8;
    color: #000;
  }

  .num[theme="minimal-dark"] {
    background-color: #202020;
    color: #fff;
  }

  .num[theme="mint"] {
    background-color: #b9b7b7;
    color: #000;
  }

  .num[theme="mint-dark"] {
    background-color: #5c5b5b;
    color: #fff;
  }
  
  .operator[theme="default"] {
    background-color: #710133;
    color: rgb(231, 220, 223);
  }

  .operator[theme="minimal"] {
    background-color: #a2ecff;
    color: #000;
  }

  .operator[theme="minimal-dark"] {
    background-color: #435da1;
    color: #fff;
  }

  .operator[theme="mint"] {
    background-color: #62b93f;
    color: #000;
  } 

  .operator[theme="mint-dark"] {
    background-color: #549e37;
    color: #fff;
  }

  .calc[theme="default"] {
    background: linear-gradient(45deg, #d9e432, #26c897, #d33ab2);
    background-size: 300% 300%;
    animation: pulse 5s ease infinite;
  }

  .calc[theme="minimal"] {
    background: #ececec;
  }

  .calc[theme="minimal-dark"] {
    background: #161616;
  }

  .calc[theme="mint"] {
    background: #75816f;
  }

  .calc[theme="mint-dark"] {
    background: #3a463a;
  }

  .result[theme="default"] {
    background-color: rgba(248, 245, 245, 0.877);
    color: #060606;
  }

  .result[theme="minimal"] {
    background-color: #f1f1f1;
    color: #000;
  }

  .result[theme="minimal-dark"] {
    background-color: #202020;
    color: #fff;
  }

  .result[theme="mint"] {
    background-color: #b9b7b7;
    color: #000;
  }

  .result[theme="mint-dark"] {
    background-color: #5c5b5b;
    color: #fff;
  }

  .clear[theme="default"] {
    background-color: #d62a0c;
    color: rgb(14, 15, 15);
  }

  .clear[theme="minimal"] {
    background-color: #a2ecff;
    color: #000;
  }

  .clear[theme="minimal-dark"] {
    background-color: #435da1;
    color: #fff;
  }

  .clear[theme="mint"] {
    background-color: #62b93f;
    color: #000;
  }

  .clear[theme="mint-dark"] {
    background-color: #549e37;
    color: #fff;
  }

  .equal[theme="default"] {
    background-color: #01801f;
    color: rgb(11, 11, 11);
  }

  .equal[theme="minimal"] {
    background-color: #a2ecff;
    color: #000;
  }

  .equal[theme="minimal-dark"] {
    background-color: #435da1;
    color: #fff;
  }

  .equal[theme="mint"] {
    background-color: #62b93f;
    color: #000;
  }

  .equal[theme="mint-dark"] {
    background-color: #549e37;
    color: #fff;
  }

  #msg[theme="default"] {
    color: #000;
  }

  #msg[theme="minimal"] {
    color: #000;
  }

  #msg[theme="minimal-dark"] {
    color: #fff;
  }

  #msg[theme="mint"] {
    color: #000;
  }

  #msg[theme="mint-dark"] {
    color: #fff;
  }

  .header[theme="default"] {
    color: #000;
  }

  .header[theme="minimal"] {
    color: #000;
  }

  .header[theme="minimal-dark"] {
    color: #fff;
  }

  .header[theme="mint"] {
    color: #000;
  }

  .header[theme="mint-dark"] {
    color: #fff;
  }



  

  

